/* CSSがutf8で書かれていることを明示しておく */
/* @see https://developer.mozilla.org/ja/docs/Web/CSS/@charset */
@charset "UTF-8";

html
{
    /* ブラウザのフォント設定に合わせるようにする */
    font-size: 100%;
}

img
{
    /* 画像が画面からはみ出ないように最大幅を指定 */
    max-width: 100%;
    max-height: auto;
}

#header
{
    /* FlexBoxで横並びにする */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-title
{
    width: 120px;
    padding: 0px;
}

.nav-menu ul
{
    /* メニューは横並びにする */
    display: flex;
    flex-direction: row;
}

.nav-menu li
{
    /* 箇条書きリストの「・」は表示させない */
    list-style-type: none;
    padding: 0px 16px;
}

#main-visual img
{
    /* 横幅は画面全体に広げて、縦幅は固定にする */
    width: 100%;
    max-width: 1920px;
    height: 600px;

    /* コンテナを埋めるように拡大・縮小 */
    object-fit: cover;
}

.about-header
{
    text-align: center;
}

.about-content
{
    /* 横並びにして、横軸・縦軸ともに中央揃えで配置する */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-content img
{
    /* 画像を丸く切り取って小さく表示 */
    border-radius: 50%;
    width: 100px;
    height: 100px;

    /* 画像とテキストの位置が近すぎるのでmarginで少し離す */
    margin-right: 32px;
}

.about-content-text
{
    text-align: left;
}

.bicycle-header
{
    text-align: center;
}

.bicycle-content
{
    text-align: center;
}

.bicycle-content ul
{
    /* 横並びにして、横軸・縦軸ともに中央揃えで配置する */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bicycle-content li
{
    list-style-type: none;

    /* 画像が大きいので少し小さめに */
    width: 30%;
}